.searchDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    ". . ."
    "diff . type";
}
.title {
  grid-area: title;
  margin-top: 0;
}
.diff {
  grid-area: diff;
  font-size: 12px;
}
.type {
  grid-area: type;
  padding-left: 10px;
  font-size: 12px;
}
h4 {
  line-height: 14px;
  font-size: 15px;
}
.searchLink {
  text-decoration: none;
  color: black;
}
.searchLink:hover {
  color: lightslategray;
}
