.searchDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "titled titled titled"
    ". . ."
    "diffd . typed";
}
.title {
  grid-area: titled;
  margin-top: 40px;
}
.diff {
  grid-area: diffd;
 
  font-size: 12px;
  
}
.type {
  grid-area: typed;

  padding-left: 10px;
  font-size: 12px;

}
h4 {
  line-height: 19px;
  font-size: 20px;
}
.searchLink {
  text-decoration: none;
  color: black;
}
div{
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.searchLink:hover > div{
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}
.searchLink:hover {
  color: lightslategray;
}
.workoutImage{
  width: 200px;
  height: 200px;
  border-right:1px solid rgba(27, 31, 35, 0.15) ;
}
.searchLink div{
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

