.searchDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    ". . ."
    "diff . type";
    
}
.title {
  grid-area: title;
  margin-top: 40px;
}
.diff {
  grid-area: diff;
  font-size: 12px;
  margin-top: 50px;
}
.type {
  grid-area: type;
  padding-left: 10px;
  font-size: 12px;
  margin-top: 50px;
}
h4 {
  line-height: 14px;
  font-size: 20px;
}
.searchLink {
  text-decoration: none;
  color: black;
}
.searchLink:hover {
  color: lightslategray;
}
.workoutImage{
  width: 200px;
  height: 200px;
  border-right:1px solid lightslategrey;
}
.searchLink div{
  background-color: white;
}

