
.muscle_group{
    transition: all 0.2s ease;
}
.muscle_group:hover {
    fill: rgb(240, 76, 90) !important;
    cursor: pointer;
}
.active{
    fill: rgb(240, 76, 90);
    stroke: black;
    stroke-width: 10px;
}
.inactive{
    fill: rgb(216, 216, 219);
    stroke: black;
    stroke-width: 10px;
}

.frontBackButtons{
    background-color: yellow!important;
    color: black!important;
    margin: 5px!important;
    font-weight: bold!important;
    border-color: grey!important;
    font-size: 12px !important;
    transition: 0.2s !important;
    -webkit-transition: 0.2s !important;
    -moz-transition: 0.2s !important;
    -ms-transition: 0.2s !important;
    -o-transition: 0.2s !important;
}
.frontBackButtons:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}