.exerciseContainer{
    padding-top: 80px;
    margin-top: 0 !important;
}
.exerciseImage{
    width: 426px;
    height: 240px;
    margin: 1.5rem;
}

.exerciseGridImage
{
    text-align: center;
}
.instructions{
    padding: 0 2rem !important;
}
.exerciseGridDetails{  
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
}


.backButton{
    position: absolute!important;
    top: 90px!important;
    right: 20px!important;
    color: black!important;
}
.backButton:hover{
    background-color: yellow!important;
}
.exerciseGridDetails span{
    font-weight: normal;
   
}